@import '../../../styles/common.scss';

.product {
    width: 100%;
    padding: 1.5rem 1rem;

    h3 {
        height: 3.5rem;
        font-size: 1.35rem;
        font-weight: 700;
        line-height: 130%;
    }

    &__photo {
        display: flex;
        align-items: end;
        margin: 1.5rem 0rem;

        figcaption {
            height: 11rem;
            width: 100%;
            overflow: hidden;
            padding: 1rem;
            font-size: 1rem;
            text-align: -webkit-match-parent;
            background-color: #efefef;
            line-height: 130%;
            font-weight: 600;
            margin-top: 0rem;

            div {
                overflow: auto;
                box-sizing: content-box;
                width: 100%;
                padding-right: 3rem;
                height: 100%;
                font-size: 1.2rem;
                line-height: 1.5rem;
            }
        }
        

        img {
            width: 50%;
        }

        
    }

    &__price {
        margin-top: -5.5rem;
        justify-content: flex-end;
        padding-bottom: 1rem;
        border-bottom: .1rem dashed #999999;
        font-size: 1.2rem;
        font-weight: 600;
        display: flex;
        // justify-content: space-between;

        span {
            display: none;
            padding: 1.2rem 0;
        }

        &__btn-buy {
            width: 50%;
            height: 4rem;

            span {
                display: inline;
            }
        }
    }
}

@include tablet {
    .product {
        width: 50%;
        padding: 3rem 1rem;

        h3 {
            height: 5rem;
            font-size: 1.45rem;
        }

        &__photo {
            // align-items: center;

            figcaption {
                height: 13.5rem;
                div {
                  font-size: 1.2rem;
                }
            }
        }

        &__price {
            margin-top: 0;
            justify-content: space-between;
            span {
                display: none;
            }

            &__btn-buy {
                width: 100%;

                span {
                    display: inline;
                }
            }
        }
    }
}

@include desktop {
    .product {
        width: 25%;

        h3 {
            height: 7rem;;
        }

        &__photo {
            flex-direction: column;
            figcaption {
                height: 8rem;
                margin-top: 1rem;
            }

            img {
                width: 100%;
            }
        }

        &__price {
            margin-top: 0;
            justify-content: space-between;
            span {
                display: inline;
            }

            &__btn-buy {
                width: 50%;

                span {
                    display: none;
                }
            }

            padding-bottom: 1rem;
        }
    }
}