@import './../../../styles/common.scss';

.article-category {
    display: flex;
    box-shadow: 0px 25px 35px -45px #000000;
    padding: 20px 0;
    align-items: center;

    div {
        display: inline-block;
        text-align: center;
    }
    &.odd {
        .category-image {
            order: 1
        }
        .category-content {
            order: 2;
        }
    }
    &.even {
        .category-image {
            order: 2
        }
        .category-content {
            order: 1
        }
    }

    .category-content {
        flex-basis: 70%;
        padding: 30px 5px;

        h1 {
            font-weight: 700;
        }

        p {
            margin-top: 15px;
            line-height: 145%;
            font-size: 67%;
        }

        a {
            display: inline-block;
            height: 40px;
            background-color: $pinkColor;
            text-decoration: none;
            color: #ffffff;
            padding: 10px;
            margin-top: 25px;
        
            &:focus {
                background-color: $darkPink;
            }
        }
    }

    .category-image {
        flex-basis: 30%;

        img {
            width: 100%;
        }
    }
}

@media only screen and (min-width: 481px) {
    .article-category {
        padding: 20px 15px;

        .category-content {
            padding: 30px;

            p {
                font-size: 75%;
            }
        }
    }
}