@import './../../../styles/common.scss';

.header {
    height: 70px;
    box-shadow: 0 2px 2px #efefef;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #ffffff;
    z-index: 2;

    nav {
        display: flex;
    }

    &__logo {
        display: inline-block;
        margin-top: 10px;
        margin-left: 10px;
        height: 50px;
        vertical-align: top;
    }

    &__left {
        width: 50%;
        float: left;

        &__main-nav {
            display: none;
        
            li {
                display: inline-block;
        
                a:link,
                a:visited{
                    padding: 10px 30px;
                    text-decoration: none;
                    color: #333333;
                    @include transition(all 0.2s);
                }

                a:focus {
                    border-bottom: 2px solid $pinkColor;
                }
            }
        }    
    }

    &__right {
        width: 50%;
        float: left;
    
        &__signup-nav {
            display: inline-flex;
            justify-content: space-around;
            width: 60%;
            padding: 7px 0;
            float: right;
            font-size: 70%;
        
            li {
                display: inline-block;
                text-align: right;
        
                a{
                    text-decoration: none;
                    color: #333333;
                }
            }
        }
    
        .btn-cart {
            float: right;
            width: 60%;
            height: 45px;
            border: none;
            @include transition(all 0.3s);
        
            img {
                width: 37%;
                max-height: 35px;
                vertical-align: middle;
            }
    
            &:focus {
                background-color: #aaaaaa;
            }
        }
    
        a:focus {
            border-bottom: 2px solid $pinkColor;
        }
    }
}

svg {
    fill: $pinkColor;
}

@include tablet {
    .header {
        height: 90px;

        &__logo {
            height: 75px;
            margin-left: 0px;
        }

        &__left {
            width: 70%;

            &__main-nav {
                display: inline-flex;
                margin: 50px 40px 0;
                width: 200px;
            }
        }

        &__right {
            width: 30%;
            
            &__signup-nav {
                padding: 10px 0;
            }
    
            .btn-cart {
                height: 55px;
            }
        }
    }
}

@include desktop {
    .header {
        &__left {
            width: 80%;
        }

        &__right {
            width: 20%;

            .btn-cart img {
                max-height: 55px;
            }
        }
    }
}