@import './../../../styles/common.scss';

.header {
    height: 7rem;
    box-shadow: 0 .2rem .2rem #efefef;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #ffffff;
    z-index: 2;

    &__nav {
        display: flex;
    }

    &__logo {
        display: inline-block;
        margin-top: .5rem;
        margin-left: .5rem;
        height: 4rem;
        vertical-align: top;
    }

    &__left {
        flex: 1;

        &__main-nav {
            display: none;
            font-size: 2rem;
        
            &__item {
                display: inline-block;
        
                a:link,
                a:visited{
                    padding: 1rem 3rem;
                    text-decoration: none;
                    color: #333333;
                }
            }
        }    
    }

    &__right {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    
        &__signup-nav {
            display: none;
            justify-content: space-around;
            width: 60%;
            padding: .5rem 0;
            font-size: 1.2rem;
        
            &__item {
                display: inline-block;
                text-align: right;
        
                a{
                    text-decoration: none;
                    color: #333333;
                }
            }
        }
    }
}

.btn-cart {
  width: 60%;
  height: 5rem;
  border: none;
  @include transition(all 0.3s);

  img {
      width: 37%;
      max-height: 3.5rem;
      vertical-align: middle;
  }
}

.menu_mobile {
  background: #efefef;
  padding: .5rem;
  height: 3rem;
  font-size: 1.5rem;
}

svg {
    fill: $pinkColor;
}

@include tablet {
  .header {
    height: 9rem;

    &__logo {
      height: 7.5rem;
      margin-left: 0;
    }

    &__left {
      flex: 7;

      &__main-nav {
        display: inline-flex;
        margin: 5rem 4rem 0;
        width: 20rem;
      }
    }

    &__right {
      flex: 3;
      
      &__signup-nav {
        display: inline-flex;
        padding: 1rem 0;
      } 
    }

    .menu_mobile {
      background: #efefef;
      padding: .5rem;
    }
  }

  .btn-cart {
    height: 5.5rem;
  }

  .menu_mobile {
    display: none;
  }
}

@include desktop {
  .header {
    &__left {
      flex: 4;
    }

    &__right {
      flex: 1;
    }
  }

  .btn-cart img {
    max-height: 5.5rem;
  }
}