.article-product-card {
    width: 25%;
    padding: 30px 10px;

    h3 {
        height: 70px;
        font-size: 85%;
        font-weight: 700;
        line-height: 130%;
    }

    .product-photo {
        margin: 15px 0px;

        figcaption {
            height: 80px;
            width: 100%;
            overflow: hidden;
            padding: 10px;
            font-size: 58%;
            text-align: -webkit-match-parent;
            background-color: #efefef;
            line-height: 130%;
            font-weight: 600;
            margin-top: 10px;

            div {
                overflow: auto;
                box-sizing: content-box;
                width: 100%;
                padding-right: 30px;
                height: 100%;
            }
        }
        

        img {
            width: 100%;
        }

        
    }

    .product-price-container {
        padding-bottom: 10px;
        border-bottom: 1px dashed #999999;
        font-size: 71%;
        font-weight: 600;
        display: flex;
        justify-content: space-between;

        span {
            padding: 12px 0;
        }

        .btn-buy {
            width: 50%;

            span {
                display: none;
            }
        }
    }
}

/* Small tablets to big tablets: from 768 to 1023px */

@media only screen and (max-width: 1023px) {
   .article-product-card {
       width: 50%;

        h3 {
            height: 50px;
        }

       .product-photo {
            display: flex;
            align-items: center;

            img {
                width: 50%;
            }

            figcaption {
                height: 135px;
                margin-top: 0;
            }
       }

        .product-price-container {
            span {
                display: none;
            }

            .btn-buy {
                width: 100%;

                span {
                    display: inline;
                }
            }
        }
   }
}

/* Small phones to small tablets: from 481 to 767px */

@media only screen and (max-width: 767px) {
    
}

/* Small phones: from 0 to 480px */

@media only screen and (max-width: 480px) {
    .article-product-card {
        width: 100%;
        padding: 15px 10px;

        .product-photo {
            display: flex;
            align-items: end;

            img {
                width: 50%;
            }

            figcaption {
                height: 110px;
            }
        }

        .product-price-container {
            margin-top: -55px;
            justify-content: flex-end;

            .btn-buy {
                width: 50%;
            }
        }

    }
}