@import './../../styles/common.scss';

.section-plp {
    display: flex;

    .left-col-plp {
        width: 25%;
        background-color: #efefef;

        .left-vertical-nav {
            a {
                display: block;
                border-bottom: 1px solid #cccccc; 
                text-decoration: none;
                color: #999999;
                font-size: 75%;
                padding: 15px 25px;
                font-weight: 600;
                @include transition(all 0.3s);

                &.selected {
                    color: #333333;
                    font-size: 80%;
                }
                
                &:focus {
                    font-size: 80%;
                }
            }
        }
    }
    
    .right-col-plp {
        display: flex;
        flex-wrap: wrap;
        flex: 1;
        align-items: stretch;
    }

    .dropdown-nav {
        display: none;
    }
}

/* Small phones to small tablets: from 481 to 767px */

@media only screen and (max-width: 767px) {
    .section-plp {
        display: block;

        .left-col-plp {
            display: none;
        }

        .dropdown-nav {
            display: block;
            margin-top: 15px;
            width: 100%;
            border: none;
            background-color: $pinkColor;
            height: 45px;
            color: #ffffff;
            padding: 0 20px;
        }
    }
}

/* Small phones: from 0 to 480px */

@media only screen and (max-width: 480px) {
    
}