.section-plp {
    display: flex;

    .left-col-plp {
        width: 25%;
        background-color: #efefef;

        .left-vertical-nav {
            a {
                display: block;
                border-bottom: 1px solid #cccccc; 
                text-decoration: none;
                color: #999999;
                font-size: 75%;
                padding: 15px 25px;
                font-weight: 600;
            }
        }
    }
    
    .right-col-plp {
        display: flex;
        flex-wrap: wrap;
        flex: 1;
        align-items: stretch;
    }
}